@page
@model DxForm

@{
    ViewData["Title"] = "DxForm";
}


<div class="container">
    <h1>Dx Form Example</h1>
    <div class="demo-container">
        <div id="form"></div>
    </div>
</div>



@section Scripts {
    <script src="~/assets/example-form.js" asp-append-version="true"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/assets/css/dxform.css"/>
}