@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h1 class="display-4">Welcome</h1>
    <div class="form">
        <div id="textBoxTitle"></div>
    </div>
</div>


@section Scripts
{
    <script src="~/assets/index.js" asp-append-version="true"></script>
}
